@import 'reset';
@import 'variable';
@import 'font';
@import 'color';
@import 'card';
@import 'rwd';
@import 'mixin';
@import 'layout';
// ----------------------------------以上import
*{
    box-sizing: border-box;
  
}
a{
    text-decoration: none;
}
body {
    margin: 0; 
}
a{
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}
.mask {
    width: 100%;
    height: 80vh;
    background-color: rgba(255, 255, 255, .1);
}
//-----------------共用
//header start


//header end