$font-title: 24px;
$font-second-title: 20px;
$font-p: 18px;
$primary: #43b9a8;
$second: red;
$border-color: black;
// ----------------------------------以上import
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image: url("/img/background-image.png");
    background-repeat: repeat;
    overflow-y: scroll;
    background-size: 10px 10px;
    padding-top: 150px;
}

img {
    width: 100%;
    height: 100%;
}
.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}
h2 {
    text-align: center;
    margin: 100px 0 10px 0;
    font-size: $font-title;
    font-weight: 900;
    color: $primary;
}

.order-1 {
    order: 1;
}
.row-reverse {
    flex-direction: row-reverse;
}
.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.align-content-center {
    align-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.align-content-space-between {
    align-content: space-between;
}
.poab {
    position: absolute;
}
.pore {
    position: relative;
}
.text-center {
    text-align: center;
}
.order-1 {
    order: 1;
}
.w-100 {
    width: 100%;
}
//-----------------共用

//header start
header {
    width: 100%;
    height: 150px;
    position: sticky;
    position: fixed;
    background: rgba(224, 152, 152, 0.6);
    z-index: 99;
    top: 0;
}
.container {
    width: 1280px;
    height: 100%;
    margin: auto;
}
:target:before {
    content: "";
    display: block;
    height: 100px;
}
.menu {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.menu {
    width: 100%;
}
.menu .btn {
    color: $primary;
    font-size: $font-title;
    margin: 0 20px;
    padding: 10px 10px;
    border-radius: 20px;
    font-weight: 900;
    cursor: pointer;
}
.menu .btn:hover {
    color: aqua;
}

.logo {
    width: 150px;
    height: 120px;
    margin: 10px 0;
}

.logo img {
    border-radius: 45%;
}

nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav a {
    font-weight: 900;
}

.humberger {
    position: relative;
    display: none !important;
}

ul {
    display: none;
    position: absolute;
    top: 130px;
    left: -75px;
    z-index: 99;
}

li {
    width: 100%;
    cursor: pointer;
}

a {
    color: $primary;
    font-size: $font-second-title;
}
@media (max-width: 767px) {
    nav {
        display: none;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
        position: relative;
    }

    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .logo {
        position: absolute;
        top: 0;
        right: 33%;
    }
    .humberger {
        display: block !important;
        width: 100%;
    }
    .humberger:hover ~ ul {
        display: block;

        z-index: 99;
    }
    ul:hover {
        display: block;
    }
    li {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(224, 152, 152, 0.9);
        color: $primary;
        padding: 34px 0;
        border: 1px solid black;
        text-align: center;
        
    }
    a {
        font-size: $font-title;
        display: block;
    }
}
/*# sourceMappingURL=layout.css.map */
//header end
//swiper start
.swiper-container {
    width: 100%;
    height: calc(100vh - 10px);
    cursor: pointer;
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .swiper-container {
        height: 60vh;
    }
}
//swiper end
//story start
.story {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    margin-bottom: 20px;
}
.story-img {
    width: 30%;
    border-radius: 50%;
}
.story-text h3 {
    font-weight: 900;
}
.story-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: $font-p;
    line-height: 1.5;
    justify-content: center;
    margin: 10px 0;
}
.Allstory article .intro {
    position: relative;
}
.decoration-1 {
    display: inline-block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 500px;
    height: 100px;
    transform: rotate(-20deg);
}

@media (max-width: 922px) {
    .container {
        width: 100%;
    }
    .story {
        display: inline;
    }
    .story h3 {
        text-align: center;
    }
    .story-img {
        width: 30%;
    }
    article .decoration-1 {
        display: none;
    }
    article .decoration-2 {
        display: none;
    }
}
//story end
//parallax start
.parallax {
    width: 100%;
    height: 50vh;
    background-image: url("/img/merry_banner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
//parallax end
// news start
.news-card {
    width: 31%;
    min-height: 100%;
    margin: 100px 0;
    position: relative;
}
.news-card img {
    width: 100%;
    border-radius: 50%;
}
.news-item {
    position: absolute;
    top: 45px;
    left: 20px;
    padding: 10px;
    background-color: red;
    border-radius: 50%;
    font-weight: 900;
}
.news-time {
    color: red;
    text-align: center;
    font-size: $font-p;
    margin: 10px 0 0 0;
}
.news-card .news-text {
    text-align: center;
    font-weight: 900;
    line-height: 1.2;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.intro-2 {
    position: relative;
}
.decoration-4 {
    display: inline-block;
    position: absolute;
    top: 0%;
    right: 500px;
    width: 500px;
    height: 100px;
    transform: rotate(20deg);
}
@media (max-width: 1280px) {
    .decoration-4 {
        display: none;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .news-card {
        width: 100%;
        min-height: 100%;
        margin: 50px 0;
    }
    .intro {
        display: none;
    }
}
//news end
.parallax1 {
    width: 100%;
    height: 50vh;
    background-image: url("/img/our-process-title-img.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
// product star
.swiper-container1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0 50px 0;
    cursor: pointer;
}
.swiper-container1::before {
    content: "冰品";
    position: absolute;
    top: 0;
    left: 0;
    font-size: $font-title;
    color: #5d5d5d;
}
.swiper-container1 .swiper-slide h4 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.swiper-container2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0 50px 0;
    cursor: pointer;
}
.swiper-container2::before {
    content: "甜品";
    position: absolute;
    top: 0;
    left: 0;
    font-size: $font-title;
    color: #5d5d5d;
}
.swiper-container2 .swiper-slide h4 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
//product end
// socail start
.socail-card {
    position: relative;
    width: 400px;
    min-height: 100%;
    margin: 20px 0;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 0 300px 0 50px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.socail-card:hover {
    z-index: 100;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 0 20px 0 50px rgba(0, 0, 0, 0.5);
}
.socail-card .imgBox {
    position: relative;
    width: 100%;
    height: 100%;

    transform-origin: left;
    z-index: 1;
    transition: 1s;
}
.socail-card:hover .imgBox {
    transform: rotateY(-140deg);
}
.socail-card .imgBox .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socail-card .details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.socail-a {
    text-align: center;
    display: block;
    width: 150px;
    font-size: $font-second-title;
    padding: 20px;
    border: 1px solid $primary;
    border-radius: 20px;
    color: $primary;
    cursor: pointer;
}
.socail-a:hover {
    color: aqua;
    border: 1px solid aqua;
}
.map {
    width: 100%;
}
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .socail-card {
        width: 80%;
    }
    .swiper-container1 .swiper-slide h4 {
        position: absolute;
        bottom: 0px;
        left: 20px;
    }
    .swiper-container2 .swiper-slide h4 {
        position: absolute;
        bottom: 0px;
        left: 20px;
    }
}
// socail end
// message start
.box-message {
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: space-around;

    margin: 0 0 30px 0;
}
.box-address {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box-text {
    width: 45%;
    height: 100%;
    position: relative;
    margin: 100px 0;
}
.box-text p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid black;
    height: 150px;
    margin: -10px;
}
.box-text p {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .box-message {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .box-text {
        display: none;
    }
}
//message end

// gototop
#GoToTop {
    transition: 0.8s;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    animation: upDown 0.3s infinite alternate;
}
@media (max-width: 767px) {
    #GoToTop {
        position: fixed;
        right: 0px;
        bottom: 0px;
    }
}
@keyframes upDown {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-5px);
    }
}
