@import 'reset';
@import 'variable';
@import 'font';
@import 'color';
@import 'card';
@import 'header';
@import 'mixin';
@import 'layout';
// ----------------------------------以上import
*{
    box-sizing: border-box;
  
}
a{
    text-decoration: none;
}
body {
    margin: 0; 
}

img {
    width: 100%;
    height: 100%;
}
.mask {
    width: 100%;
    height: 80vh;
    background-color: rgba(255, 255, 255, .1);
}

//-----------------共用

//header start
header {
    width: 100%;
    height: 150px;     
    background-color: black;
    
}
.container {
    width: 1280px;
    height: 100%;
    margin:auto;
}

.menu{   
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;   
    
}
.logo{
    width: 150px;
    height: 120px;
    margin: 10px 0;
}
.logo img {
    border-radius: 45%;
}
.menu .btn{
    color: rgb(251, 5, 239);
    font-size: 24px;
    margin: 0 20px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.drawdown{
    display: none;
}
.humberger{
    display:none !important;
}
@media (max-width: 992px){
    .container{
        width: 100%;
    }
    nav{
      display: none;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
         position: absolute;
         top: 0px;
         right: 180px;
        
    }
    .humberger{
        display: block !important;
        width: 100%;
    }
    .humberger:hover~.drawdown{
        display: block;
    }
}
//header end